body {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5em;
}
input {
  margin: 1em;
}
.btn-copy {
  width: 300px;
  height: 40px;
  background: #04AA6D;
  border: 2px solid #fff;
  border-radius: 10px;
}