body {
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5em;
}
label {
  font-size: 1.25em;
}
input {
  margin: 1em;
}